.battleZone {
    height: 50%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);

}

.container-players-in-battlezone {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider-players {
    border: white 1px solid;
}

.container-cards-player-battlezone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.tapped-battlezone{
    margin-inline: 1%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 3%;
    height: 95%;
}

.untapped-battlezone{
    margin-inline: 2%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    background-size: contain;
    width: 3%;
    height: 95%;
    background-repeat: no-repeat;
}

.untapped-battlezone:hover{
    cursor: pointer;
    z-index: 2;
    position: absolute;
    height: 80%;
    width: 20%;
    margin: auto;
}